.directory
.*.exe
.ipynb_checkpoints
progs/*.json

program_saves/sublime_settings/User/Package Control.last-run
program_saves/sublime_settings/User/Package Control.cache/*
program_saves/sublime_settings/User/Package Control.sublime-settings
program_saves/sublime_settings/User/Preferences.sublime-settings
program_saves/sublime_settings/User/Package Control.merged-ca-bundle
program_saves/sublime_settings/User/oscrypto-ca-bundle.crt

program_saves/dot-qucs/*/*.dat

LaTeX-поделки/*/*.aux
LaTeX-поделки/*/*.log
LaTeX-поделки/*/*.nav
LaTeX-поделки/*/*.out
LaTeX-поделки/*/*.snm
LaTeX-поделки/*/*.synctex(busy)
LaTeX-поделки/*/*.synctex.gz
LaTeX-поделки/*/*.toc
LaTeX-поделки/*/*.vrb

